
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #2e3f47;
    font-family: "Arial", sans-serif
}

/*
extended
*/

.miniver-regular {
    font-family: "Miniver", cursive;
    font-weight: 0;
    font-style: normal;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48;
}

/*
extended
*/

header {
    width: 100%;
    height: 100vh;
    background: #f7f8f2;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;


        ul {
            list-style: none;
            display: flex;
            gap: 5rem;
            margin-left: 80px;


            a {
                text-decoration: none;
                font-size: 18px;


            }

            li {
                position: relative;

                a {
                    position: relative;
                    display: inline-block;
                    transition: color 0.3s;
                }
            }

            li:hover {
                transition: 1s;
                transform: scale(1.05);

                a {
                    transition: 1s;
                    color: #3d6b67;

                }

                a::before, a::after {
                    display: block;
                }
            }

            li a::before,
            li a::after {
                position: absolute;
                top: 0;
                display: none;

            }

            li a::before {
                content: "(";
                left: -15px;
            }

            li a::after {
                content: ")";
                right: -15px;
            }

        }

        .hd-logo {
            display: flex;
            align-items: center;

            p {
                text-align: center;
                margin-left: 160px;
                font-size: 40px;

            }
        }

        .hd-login {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-right: 140px;

            p {
                font-family: "Verdana", cursive;
                font-weight: bold;
            }

            button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: none;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }
    }

    section {
        h1 {
            position: absolute;
            top: 16%;
            left: 10%;
            font-family: "Arial", sans-serif;
            color: #172e3e;
            font-size: 100px;
            width: 600px;
        }

        #hd-text {
            position: absolute;
            top: 25%;
            left: 70%;
            font-family: "Arial", sans-serif;
            font-size: 23px;
            width: 300px;
            line-height: 1.8

        }

        a {
            position: absolute;
            top: 60%;
            left: 10%;
            color: #ec704c;
            font-family: "Arial", sans-serif;
            font-size: 23px;
            font-weight: bold;
            text-decoration: none;
            border-bottom: 1px solid #ec704c;
        }

        #hd-years {
            position: absolute;
            top: 80%;
            left: 10%;
            display: flex;
            align-items: center;
            gap: 10px;
            color: #172e3e;

            h2 {
                font-size: 70px;
                font-family: "Arial", sans-serif;
            }

            p {
                font-size: 20px;
                width: 50px;
            }
        }

        #hd-certification {
            position: absolute;
            top: 70%;
            left: 75%;

            img {
                width: 110px;
                margin-left: 40px;
            }

            p {
                font-family: "Arial", sans-serif;
                font-size: 23px;
                color: #050607;
                width: 200px;
                text-align: center;
            }
        }

    }

    #hd-main-img {
        position: absolute;
        bottom: 0;
        left: 32%;
        height: 83%;
    }
}

main {
    .first-section {
        display: flex;
        justify-content: space-around;
        margin-top: 120px;
        margin-bottom: 120px;

        #fs-projects-container {
            margin-left: 150px;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            div {
                display: flex;
                align-items: center;
                border: #efeeee solid 2px;
                border-radius: 25px;
                padding: 25px;
                width: 500px;

                img {
                    width: 100px;
                    height: 100px;
                    margin-left: 20px;
                }

                div {
                    border: none;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    h3 {
                        font-size: 25px;
                        margin-bottom: 15px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }
        }

        #fs-text-container {
            margin-right: 250px;

            h1 {
                color: #172e3e;
                font-size: 70px;
                margin-bottom: 30px;
            }

            p {
                font-size: 19px;
                text-align: left;
                line-height: 2.4;
                margin-bottom: 30px;
            }

            div {
                margin-top: 30px;
                display: flex;
                gap: 100px;

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    gap: 0;

                    h2 {
                        font-size: 65px;
                    }


                }
            }
        }
    }

    #second-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        background: #f7f8f2;
    }

    h1 {
        color: #172e3e;
        font-size: 70px;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    #sc-main-container {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;

        #sc-phase-container {
            margin-top: 15px;
            margin-right: 100px;
            display: flex;
            flex-direction: column;

            div {
                margin-bottom: 143px;

                h2 {
                    font-size: 28px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 18px;
                }
            }
        }

        #sc-text-container {
            margin-top: 15px;
            margin-left: 20px;

            div {
                h3 {
                    font-size: 28px;
                    margin-bottom: 10px;
                }

                p {
                    word-spacing: 10px;
                    font-size: 18px;
                    width: 550px;
                    line-height: 40px;
                    margin-bottom: 50px;
                }
            }
        }

    }

    img {
        width: auto;
        height: 600px;
    }

    #third-section {
        margin: 50px 0 80px 0;
        display: flex;
        flex-direction: column;

        #td-header-container {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 120px;

            h1 {
                padding-right: 120px;
                margin-bottom: 20px;
            }

            p {
                font-size: 20px;

            }

            a {
                padding-top: 30px;
                color: #ec704c;
                font-family: "Arial", sans-serif;
                font-size: 23px;
                font-weight: bold;
                text-decoration: none;
                border-bottom: 1px solid #ec704c;
            }
        }

        #td-project-container {
            display: flex;
            justify-content: right;
            gap: 2rem;

            img {
                height: 450px;
                border-radius: 25px 0 0 25px;

            }

            .full-card {
                width: 600px;
                border-radius: 25px;
            }
        }
    }

    #fourth-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        background: #f7f8f2;
        margin-top: 120px;
        margin-bottom: 120px;
        padding-bottom: 80px;

        #fh-header-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 30px;

            h1 {
                font-size: 60px;
            }

            p {
                font-size: 20px;
                text-align: center;
                width: 705px;
            }

        }

        #fs-cards-container {
            display: flex;
            gap: 1rem;
            margin-top: 150px;
            perspective: 1000px;

            .fs-card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 80px 40px 30px;
                background: #ffffff;
                border-radius: 35px;
                width: 675px;
            }

            .fs-img {
                display: flex;
                justify-content: center;
                height: 10px;

                img {
                    overflow: hidden;
                    position: relative;
                    bottom: 130px;
                    box-shadow: #050607 0 2px 15px -4px;;
                }

            }

            .fs-text {
                p {
                    font-size: 20px;
                    text-align: center;
                    line-height: 2;
                    margin: 0 26px 10px 26px;
                }
            }

            img {
                height: 110px;
                border-radius: 50%;
                border: #ffffff solid 3px;
            }

            .fs-heading {
                margin-top: 20px;
                border-top: #c1bfbf solid 1px;
                display: flex;
                justify-content: center;

                div {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;

                    h3 {
                        font-size: 27px;
                    }

                    p {
                        padding-top: 8px;
                        text-align: center;
                        color: #8c8c8c;
                    }
                }
            }
        }

        #fs-button-container {
            display: flex;
            gap: 3rem;
            position: relative;
            top: -30px;

            button {
                padding: 15px 15px 11px 15px;
                border-radius: 50%;
                background: #ffffff;
                box-shadow: #050607 0 2px 15px -8px;;
                border: none;

                .icon {
                    width: 40px;
                    height: 40px;

                    path {
                        fill: #959595;
                    }
                }
            }

            button:hover {
                background: #3d6b67;
                transition: 1s;

                .icon path {
                    transition: 1s;
                    fill: #ffffff;
                }

            }
        }
    }
}

footer {

    #footer-up-container {
        display: flex;
        justify-content: space-between;
        padding: 0 240px 110px 140px;

        #footer-up-left {
            display: flex;
            flex-direction: column;
            gap: 12rem;

            h1 {
                font-size: 70px;
                color: #172e3e;
                width: 800px;
            }

            h2 {
                font-size: 60px;
                color: #172e3e;

                span {
                    color: #ec704c;
                    border-bottom: 1px solid #ec704c;
                }

            }
        }

        #footer-up-right {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 5rem;
            text-align: left;

            div {
                h3 {
                    font-size: 35px;
                }

                p {
                    font-size: 22px;
                    padding-top: 20px;
                }
            }

            #nav {
                display: flex;

                ul {
                    list-style: none;
                    display: flex;
                    gap: 5rem;
                    display: flex;
                    flex-direction: column;


                    a {
                        text-decoration: none;
                        font-size: 18px;
                    }

                    li {
                        position: relative;

                        a {
                            position: relative;
                            display: inline-block;
                            transition: color 0.3s;
                        }
                    }

                    li:hover {
                        transition: 1s;
                        transform: scale(1.05);

                        a {
                            transition: 1s;
                            color: #3d6b67;

                        }

                        a::before, a::after {
                            display: block;
                        }
                    }

                    li a::before,
                    li a::after {
                        position: absolute;
                        top: 0;
                        display: none;

                    }

                    li a::before {
                        content: "(";
                        left: -15px;
                    }

                    li a::after {
                        content: ")";
                        right: -15px;
                    }

                }
            }
        }

    }

    #footer-down-container {
        display: flex;
        justify-content: center;
        #footer-down-nav{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 2px solid #959595;
            width: 85%;
            padding: 40px 0 60px 0;

            .hd-logo {
                p {
                    font-size: 50px;
                    position: relative;
                    right:100px;
                }
            }

            #copy-right {
                font-size: 22px;
                padding: 3px 50px;
                border-left: 1.5px solid #2e2e2e;
                position: relative;
                right: 250px;
            }
            div{
                position: relative;
                left: 30px;
                p{
                    font-size: 22px;
                    span{
                        font-weight: bold;
                        color: #3d6b67;
                    }
                }
            }
        }

    }

}


/*
slider
 */
.main {
    position: relative;
    top: -80px;
}

.left {
    position: relative;
    right: 30px;
}

.right {
    position: relative;
    right: -30px;
}

/*
slider
 */

/*
animation
 */
.anim-mainRight {
    animation: mainRight 2s ease-in-out 1;
    z-index: 10;
}
.anim-mainLeft {
    animation: mainLeft 2s ease-in-out 1;
    z-index: 10;
}
.anim-leftRight {
    animation: leftRight 2s ease-in-out 1;
    z-index: 10;
}
.anim-leftLeft {
    animation: leftLeft 2s ease-in-out 1;
    z-index: 10;
}
.anim-rightRight {
    animation: rightRight 2s ease-in-out 1;
    z-index: 10;
}
.anim-rightLeft {
    animation: rightLeft 2s ease-in-out 1;
    z-index: -20;
}


@keyframes mainRight {
    from {
        transform: translateX(-720px) translateY(80px);


    }
    to {
        transform: translateX(0);
    }
}
@keyframes mainLeft {
    from {
        transform: translateX(720px) translateY(80px);


    }
    to {
        transform: translateX(0);
    }
}
@keyframes leftRight {
    from {
        transform: translateX(-720px) translateY(-80px);


    }
    to {
        transform: translateX(0);
    }
}
@keyframes rightRight {
    from {
        transform: translateX(1500px) translateY(0);

    }
    5%{
        transform: translateX(1550px);
    }
    40%{
        opacity: 0;
    }
    60%{
        transform: translateX(-500px);
        opacity: 0.8;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes leftLeft {
    from {
        transform: translateX(720px) translateY(-80px);


    }

    to {
        transform: translateX(0);
    }
}
@keyframes rightLeft {
    from {
        transform: translateX(-1500px) translateY(0) translateZ(-500px);
    }
    5%{
        transform: translateX(-1550px);
    }
    40%{
        opacity: 0;
    }
    60%{
        transform: translateX(500px);
        opacity: 0.8;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
/*
animation
 */

